p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.testclass {
  padding: 1em;
  background: LightGoldenRodYellow;
  color: black;
  border: 2px solid orange;
  border-radius: 10px;
}

div.theorem {
  border-left: 5px solid;
  border-left-color: #DCDCDC;
  border-radius: 0.25rem;
  padding-left: 0.5em

}
